
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
		  <h1>Home Page</h1>
		  <a href="/logout">Log out</a>
		</header>
		{{#if msg}}
      <aside>
				<p class="msg">{{msg}}</p>
      </aside>
		{{/if}}
		<main>
      <section>
        <h2>Uploaded Tracks</h2>
        {{#if userTracks}}
          {{#each userTracks}}
          <section class="track-container">
            <figure class="albumImageContainer">
            {{#if this.albumArt}}
              <img class="albumImage" src="{{host}}/tracks/albumArt/{{this.albumArt}}" alt="Album art">
            {{else}}
              <img class="albumImage" src="{{host}}/tracks/albumArt/placeholderAlbum.jpg" alt="Album art">
            {{/if}}
            </figure>
            <figcaption class="track-content">
              <p class="trackName noWrap noMargin bold">{{this.trackName}}</p>
              <p class="artist noWrap noMargin">{{this.artist}}</p>
            </figcaption>
            <figcaption>
              <p class="duration noWrap noMargin">{{this.duration}}</p>
            </figcaption>
          </section>
          {{/each}}
        {{else}}
          <p>You have no uploaded tracks.</p>
        {{/if}}
      </section>
		</main>
	</body>
</html>
