
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="The secure track page">
		<meta name="author" content="Robert Ashfield">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
		  <h1>Track Info</h1>
		  <a href="/logout">Log out</a>
      <a href="/home">Home</a>
		</header>
		{{#if msg}}
      <aside>
				<p class="msg">{{msg}}</p>
      </aside>
		{{/if}}
		<main>
      <section>
        <section class="track-container">
          <figure class="albumImageContainer">
          {{#if track.albumArt}}
            <img class="albumImage" src="{{host}}/tracks/albumArt/{{track.albumArt}}" alt="Album art">
          {{else}}
            <img class="albumImage" src="{{host}}/tracks/albumArt/placeholderAlbum.jpg" alt="Album art">
          {{/if}}
          </figure>
          <figcaption class="track-content">
            <p class="trackName noWrap noMargin bold">{{track.trackName}}</p>
            <p class="artist noWrap noMargin">{{track.artist}}</p>
          </figcaption>
          <figcaption>
            <p class="duration noWrap noMargin">{{track.duration}}</p>
          </figcaption>
          <br />          
        </section>
        <section>
          <audio controls>
            <source src="{{host}}/tracks/{{track.trackFile}}" type="audio/mpeg"/>
            Your browser }}does not support the audio tag.
          </audio>
        </section>
      </section> 
      <section>
        <h2>ID3 Data</h2>
        {{#with track}}
        <p class="bold">Title</p>
        {{#if trackName}}
          <p>{{trackName}}</p><br />
        {{else}}<p>Data missing.</p><br />{{/if}}
        
        <p class="bold">Artist</p>
        {{#if artist}}
          <p>{{artist}}</p><br />
        {{else}}<p>Data missing.</p><br />{{/if}}
        
        <p class="bold">Duration</p>
        {{#if duration}}
          <p>{{duration}}</p><br />
        {{else}}<p>Data missing.</p><br />{{/if}}
        
        <p class="bold">Album Artists</p>
        {{#if albumArtists}}
          <p>{{albumArtists}}</p><br />
        {{else}}<p>Data missing.</p><br />{{/if}}
        
        <p class="bold">Year</p>
        {{#if year}}
          <p>{{year}}</p><br />
        {{else}}<p>Data missing.</p><br />{{/if}}
        
        <p class="bold">Track</p>
        {{#if track}}
          <p>{{track}}</p><br />
        {{else}}<p>Data missing.</p><br />{{/if}}
        
        <p class="bold">Disk</p>
        {{#if disk}}
          <p>{{disk}}</p><br />
        {{else}}<p>Data missing.</p><br />{{/if}}
        
        <p class="bold">Genre</p>
        {{#if genre}}
          <p>{{genre}}</p><br />
        {{else}}<p>Data missing.</p><br />{{/if}}      
        {{/with}}
      </section>
		</main>
	</body>
</html>
